
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Text', sans-serif;
  }
  
  body{
    background-color: #40E0D0;
    display: flex;
    flex-direction: column;
    flex-wrap: gap;
  }
  
  nav{
    height: 50px;
    background-color: deepskyblue;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  a{
   text-decoration: none;
   color: #008080;
  }
  a:hover{
    border-bottom: 4px solid #9400D3;
    transition: 0.3s all;
    border-radius: 2px;
    transform: scale(1.1);
  }
  .btn{
    background-color: cyan;
    border-radius: 10px;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  .btn:hover{
    background-color: rgb(192, 111, 230);
    color:cyan;
    transition:0.3s all;
  }
  .main-site{
    text-align: center;
  }
  .image{
    width:100%;
    height:auto;
  }
  @media(max-width:410px){
    nav{
      display:flex;
      flex-wrap: wrap;
      overflow:hidden;
      height: 10px;
      font-size:10pt;
  }
  h1{
    font-size:15pt;
  }
}